html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  font-size: 1.1em;
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

h2 {
  font-size: 30px;
  font-weight: medium;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 0;
  padding: 1em 0;
  color: color;
}

.btn {
  color: color;
  padding: 1em;
}

nav {
  background: white;
  padding: 15px;
  width: 100%;
  z-index: 1;
  position: fixed;
}

nav #logo {
  position: relative;
  margin-left: -250px;
}

nav #menu {
  position: absolute;
  margin: -25px 100px;
}

#home {
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 0px;
  background: url("../Images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#home .content-wrap, #home #about .content-wrap {
  padding: 0 1.5em;
}

#home h1 {
  margin-top: 260px;
  color: white;
  font-weight: lighter;
}

#home p {
  margin-top: -35px;
  color: white;
}

#home .btn img {
  margin-top: 250px;
  margin-right: 11px;
}

#home .btn p {
  margin: 0;
  padding: 1%;
}

#about {
  padding-top: 5em;
  padding-bottom: 2em;
}

#about img {
  border-radius: 50%;
  border: 5px solid grey;
  width: 50%;
  height: 50%;
}

#attributes {
  padding: 2em 1em 1em;
}

#attributes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#attributes li {
  margin-bottom: 3em;
}

#skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#skills li {
  padding: 0;
  margin: 0;
}

#skills img {
  width: 100%;
}

#skills h3 {
  position: absolute;
  margin-top: -20%;
  margin-left: 10%;
  color: white;
  font-size: 25px;
}

#projects {
  padding: 2em 1em 1em;
}

#blogs {
  padding: 2em;
}

#blogs .card {
  padding: 1em;
}

#blogs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#blogs li {
  padding: 0;
  margin: 0;
}

#blogs img {
  width: 100%;
}

#contact {
  background-color: #F7F7F7;
}

#contact .box {
  padding: 10%;
}

#contact ul {
  list-style: none;
  padding: 1% 1%;
}

#contact ul li {
  display: inline-block;
  font-size: 11vw;
  text-align: center;
  padding: 15px;
}

#contact .box:nth-child(2) {
  background-color: #dddddd;
  padding: 10%;
}

#contact form {
  margin: -1em;
  font-size: 15px;
  width: 100%;
}

#contact form .form-wrap {
  padding: 1px;
}

#contact form label {
  margin-right: 300px;
  padding: 0;
}

#contact form input[type=text] {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
}

#contact form textarea {
  resize: none;
  width: 100%;
  margin-top: 1em;
  padding: 5px 20px;
}

#contact form input[type=button] {
  width: 55%;
  padding: 10px;
  margin-left: 40px;
  margin-top: 15px;
  background-color: #888888;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

#main-footer {
  padding: 7%;
  background-color: #707070;
  color: white;
}

@media (min-width: 700px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: " a a a a " " b b b b " " c c c c " " d d d d " " e e e e " " f f f f " " g g g g " " h h h h " " i i i i ";
  }
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}

.i {
  grid-area: i;
}
/*# sourceMappingURL=main.css.map */