// Variables

$color: black;
$color-2: white;
$font: Helvetica, Arial, sans-serif;

$col: 6.25%;
$offset: 6.25%;


// Mixins 
@mixin background(){
    background: url("../Images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin font-family(){
    font-family: $font;
}

// HTML
html {
    scroll-behavior: smooth;
}
body{
    @include font-family();

}

// CSS Variables
.wrapper{
    width: 100%;
    display: table;
    margin: 0 auto;
    text-align: justify;
}
.row {
    content: "";
    clear: both;
    display: block;
}
.page-title{
    padding: 5%;
    text-align: center;
}
.about-title{
    padding: 10%;
    text-align: center;
}

// Columns 
.col-1{
    width: $col;
}
.col-2{
    width: $col * 2;
}
.col-3{
    width: $col * 3;
}
.col-4{
    width: $col * 4;
}
.col-5{
    width: $col * 5;
}
.col-6{
    width: $col * 6;
}
.col-7{
    width: $col * 7;
}
.col-8{
    width: $col * 8;
}
.col-8{
    width: $col * 8;
}
.col-9{
    width: $col * 9;
}
.col-10{
    width: $col * 10;
}
.col-11{
    width: $col * 11;
}
.col-12{
    width: $col * 12;
}
.col-13{
    width: $col * 13;
}
.col-14{
    width: $col * 14;
}
.col-15{
    width: $col * 15;
}
.col-16{
    width: $col * 16;
}

// Offset 
.offset-1 {
    margin-left: $offset;
}
.offset-2 {
    margin-left: $offset * 2;
}

// Grid
[class*='col-']{
    float: left;
    padding-right: 25px;
}
[class*='col-']:last-of-type{
    padding-right: 0;
}

// Website
// Navigation Bar
.nav {
    background: white;
    padding: 15px;
    width: 100%;
    top: 0;
    margin-left: -10px;
    z-index: 1;
    position:fixed;
        #logo {
            position: relative;
            float: left;
        }
        #menu {
            position: relative;
            float: right;
            padding-right: 25px;
        }
}

// Home
#home {
    padding-top: 25%;
    text-align: center;
    height: 100vh;
    @include background();
    color: $color-2;
    margin-left: -10px;
}
.content-wrap{
    padding: 0 1em;
    margin-top: 10%;
}

.scroll-btn{
    padding: 0;
    margin-top: 15%;
}

// About
.about-image {
        border-radius: 50%;
        border: 5px solid grey;
        width: 50%;
        height: auto;
}
.about-info {
    text-align: center;
    margin-right: 120px;
}

.card{
    padding: 10%;
    text-align: center;

    img{
        width: 50px;
        height: 50px;
    }
}

.banner {
    width: 100%;

    img{
        width: 100%;
    }
    h3{
        position: absolute;
        float: left;
        padding: 5%;
        font-size: 50px;
        color: $color-2;
        margin-top: -20%;
    }
}

.pro-card{
    padding: 10%;
    
    img{
        display: block;
        width: 100%;
        height: auto;
    }
}

.blog-card {
    text-align: left;
    padding: 10%; 

    img{
        display: block;
        width: 100%;
        height: auto;
    }
}
section{
    display: block;
    background-color: #F7F7F7;
    height: 100%;
    padding-bottom: 5%;
    float: left;
}
section:nth-child(2){
    background-color:#dddddd; 
    float: right;
    padding: 0%;
}
.box {
    text-align: center;
}

ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    li {
        text-align: center;
        display: inline-block;
        padding: 10px;
        font-size: 60px;
    }
}
form{
    display: grid;
    grid-template-columns: 20% 60%;
    grid-template-rows: 20px 1fr;
    grid-row-gap: 1em;
    padding: 10px;

    label{
        grid-column: 1;
        padding: 1px;
    }

    input[type=text]{
        grid-column: 2;
        background-color: #F7F7F7; 
        border: #f7f7f7 solid 2px;
    }

    textarea {
        background-color: #F7F7F7;
        border: #F7F7F7 solid 2px;
    }
}


footer{
    text-align: center;
    padding: 5%;
    background-color: #707070;
    color: $color-2;
}

@media (max-width: 700px){
    [class*='col-']{
        width: 100%;
    }
    [class*='offset-']{
        margin-left:0;
    }
    .about-image {
        width: 100%;        
    }
    .banner {
        h3{
            font-size: 25px;
        }
    }
}